  <div class="container">
    <h1>Contact Me!</h1>
  </div>

            <h1><strong>Contact Me!</strong></h1>
            <hr />
            <div>
                <!--Contact Info-->
                <p><span class="medium-index">E-mail: </span>ananthan@hotmail.ca<br />
                <p><span class="medium-index">Work address: </span>1850 Randall Cres, Scarborough, Ontario</p>
                <p><span class="medium-index">Phone Number: </span>289-928-1989</p>
                <p><span class="medium-index">Links: </span>
                <!--Facebook-->
                <a href="https://www.instagram.com/tharmachronicles/"><img class="icon-logo" src="../../Assets/images/instagram.png" alt="instagram" width="30" height="22" /></a>
                <!--Github-->
                <a href="https://github.com/ananthantharma"><img class="icon-logo" src="../../Assets/images/GitHub-Mark.png" alt="github" width="30" height="22" /></a>
                <!---->
                </p>
            </div>
            <div class="sub-container">




   <!-- User Form -->
                <form id="contactForm">
                    <p><h3><strong>Send Message</strong></h3></p>
                    <br />
                    <p>
                        <!--User name-->
                        <label id="lbName" class="medium-index form-label">Name: </label>
                        <input id="txtName" type="text" runat="server"/>

                    </p>
                    <p>
                     <!--User E-mail-->
                        <label id="lbEMail" class="medium-index form-label">E-mail: </label>
                        <input id="txtEMail" type="email" runat="server"/>

                    </p>
                    <p>
                    <!--User phone number-->
                        <label id="lbNumber" class="medium-index form-label">Phone Number: </label>
                        <input id="txtNumber" type="text" runat="server"/>

                    </p>
                    <p>
                        <!--User message-->
                        <label id="lbMessage" class="medium-index form-label">Message:
                    </p>
                    <p>
                        <!--Textarea for User message-->
                        <textarea id="txtMessage" class="form-textArea" name="txtMessage" rows="7" cols="60" runat="server">Type your message here!</textarea>
                    </p>
                    <br /><br />
                        <!--Send Button-->
                    <p class="text-center">
                        <button type="button" runat="server" onserverclick="sendButton_click">Send</button>
                    </p>
                        <!--Result Label-->
                    <p><asp:Label id="lbResult" runat="server" /></p>
                    </form>