  <div class="container">
    <h1>Contact Me!</h1>
  </div>

   <!-- User Form -->
                <form id="contactForm">
                    <p><h3><strong>Send Message</strong></h3></p>
                    <br />
                    <p>
                        <!--User name-->
                        <label id="lbName" class="medium-index form-label">Name: </label>
                        <input id="txtName" type="text" runat="server"/>

                    </p>
                    <p>